<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- Set log level for Spring framework -->
	<logger name="org.springframework" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- Set log level for Hibernate framework -->
	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>

	<!-- Log all SQL DDL statements as they are executed -->
	<logger name="org.hibernate.tool.hbm2ddl" level="INFO" />

</configuration>